In [87]:
import pandas as pd
import numpy as np
import string

In [88]:
alphabet_string = string.ascii_lowercase
alphabet_list = list(alphabet_string)

alphabet_list

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [28]:
#read in words
df = pd.read_csv('https://raw.githubusercontent.com/dwyl/english-words/master/words_alpha.txt',names=['word'])

In [101]:
df = pd.read_csv('data/usa2.txt',names=['word'])

df

           word
0             a
1            aa
2           aaa
3        aachen
4      aardvark
...         ...
77717   zymurgy
77718     �clat
77719      �lan
77720   �migr�s
77721    �poque

[77722 rows x 1 columns]

In [65]:
df['word_length'] = df.word.str.len() #get column of word length
print(df.shape)
df = df.loc[df.word_length >= 4] #filter out words shorter than 4 letters
print(df.shape)

(77722, 2)
(76753, 2)

In [66]:
all_letters = []
middle_letter = input("Enter Middle Letter: ")
all_letters.append(middle_letter)

Enter Middle Letter: a

In [67]:
others = input("Enter other letters separated by space")
others = others.split()

Enter other letters separated by spacer m l n d f

In [68]:
for o in others:
    all_letters.append(o)

In [69]:
all_letters

['a', 'r', 'm', 'l', 'n', 'd', 'f']

In [71]:
middle_letter = 'a'
all_letters = ['a','f','r','n','d','l','m']
df = df.loc[df.word.str.contains(middle_letter)].copy() #all words need middle letter
print(df.shape)

(40743, 9)

In [72]:
for i in range(6):
    df[i] = df.word.str.contains(all_letters[i])
    
df['all'] = df[0] & df[1] & df[2] & df[3] & df[4] & df[5]

In [73]:
def letter_check(word):
    check_list = [l in all_letters for l in word]
    
    return all(check_list)

In [74]:
df['check'] = df.apply(lambda x: letter_check(x['word']), axis=1)

In [75]:
df = df.loc[df['check']].copy()
print(df.shape)
df.head()

(48, 10)

,word,word_length,0,1,2,3,4,5,all,check
800,adam,4.0,True,False,False,False,True,False,False,True
976,adman,5.0,True,False,False,True,True,False,False,True
1252,afar,4.0,True,True,True,False,False,False,False,True
1675,alan,4.0,True,False,False,True,False,True,False,True
1676,alarm,5.0,True,False,True,False,False,True,False,True

In [76]:
for w in df.loc[df['all']]['word']:
    print(w)

farmland

In [100]:
n_words = 15

np.ceil(n_words/4).astype(int)

4

In [77]:
list(df['word'])

['adam',
 'adman',
 'afar',
 'alan',
 'alarm',
 'alfa',
 'alfalfa',
 'allan',
 'alma',
 'amanda',
 'amman',
 'anal',
 'anna',
 'armada',
 'dada',
 'damn',
 'dana',
 'darn',
 'draff',
 'dram',
 'drama',
 'fall',
 'farad',
 'farm',
 'farmland',
 'flan',
 'lama',
 'land',
 'landfall',
 'lard',
 'llama',
 'madam',
 'madman',
 'mala',
 'mall',
 'mallard',
 'mama',
 'mamma',
 'mammal',
 'manama',
 'mann',
 'manna',
 'marl',
 'nama',
 'narr',
 'radar',
 'ramadan',
 'rand']